<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Yelp Camp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/campgrounds">All Campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">New</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if (currentUser) {%> 
            <a href="/logout" class="nav-link ml-auto">Logout</a>
          <% } else { %> 
            <a href="/login" class="nav-link">Login</a>
            <a href="/register" class="nav-link ml-auto">Sign Up</a>
          <% } %> 
        </div>
      </div>
    </div>
</nav>
